.brands {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

.brand-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.brand {
  background-color: #f3f3f3;
  color: #222;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-weight: bold;
}