<section class="text-gray-600 body-font">
  <div class="flex justify-center mb-12">
    <div
      class="flex items-center justify-center w-56 h-56 rounded-full bg-gray-300 border-8 border-gray-400 shadow-lg"
      style="box-shadow: 0 0 40px 10px rgba(233, 232, 231, 0.7);"
    >
      <h1 class="text-3xl font-bold text-black text-center">Nuestros cócteles</h1>
    </div>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative rounded-xl overflow-hidden">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://imag.bonviveur.com/manhattan.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 rounded-xl">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">¿Vienes del pasado?</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Manhattan</h1>
            <p class="leading-relaxed">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, cumque..</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative rounded-xl overflow-hidden">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://cdn0.recetasgratis.net/es/posts/6/4/3/blue_lagoon_coctel_laguna_azul_77346_orig.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 rounded-xl">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">El nuevo invitado</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Blue Lagoon</h1>
            <p class="leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, aspernatur?</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative rounded-xl overflow-hidden">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://www.makersmark.com/sites/default/files/2024-08/makers-mark-cocktail-old-fashioned.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 rounded-xl">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">¿Día difícil</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Old Fashioned</h1>
            <p class="leading-relaxed">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, eveniet.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative rounded-xl overflow-hidden">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://www.liquor.com/thmb/cpSgrrmR7SDnFDfvI150WYsF-Fo=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__liquor__2018__01__02105149__Cuba-Libre-720x720-recipe-673b48bbef034d89b6b5149b8417c7d5.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 rounded-xl">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Clásico de fiestas</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Cuba Libre</h1>
            <p class="leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, maiores?</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative rounded-xl overflow-hidden">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://img.freepik.com/fotos-premium/coctel-ardiente-mesa-bar_392895-231599.jpg?semt=ais_hybrid&w=740">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 rounded-xl">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Para la anécdota</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Blue Blazer</h1>
            <p class="leading-relaxed">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, dolor.</p>
          </div>
        </div>
      </div>
      <div class="lg:w-1/3 sm:w-1/2 p-4">
        <div class="flex relative rounded-xl overflow-hidden">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://i0.wp.com/www.splashoftaste.com/wp-content/uploads/2022/05/dirty-martini-featured.jpg">
          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 rounded-xl">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Sabores curiosos</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Dirty Martini</h1>
            <p class="leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, maxime.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>